// These styles are only use for the privacy modal. This is meant to look like sscom.

$darkBlue: #142237;
$brightBlue: #005B94;
$textColor: #333333;

.sscom.modal {
  text-align: center;
  font-size: 16px;

  .modal-dialog {
    max-width: 500px;
  }

  .modal-content {
    border: none;
  }

  .modal-header {
    background: $darkBlue;
    height: 6em;
    padding: 0;
    align-items: center;
    justify-content: center;
    border: none;

    h1 {
      width: 100%;
      font-size: inherit;
    }

    img {
      margin: auto;
      width: auto;
      height: 2em;
      padding: 0 1em;
    }
  }

  .modal-body {
    padding: 2em 1em;
    font-family: Metropolis, 'Proxima Nova', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: $textColor;

    h2 {
      font-weight: inherit;
      font-size: 1.5em;
    }

    p {
      margin: 1em 0;
    }

    .btn {
      background: $brightBlue;
      color: white;
      border-radius: 2.5em;
      border-style: solid;
      border-width: 0.1em;
      border-color: $brightBlue;
      cursor: pointer;
      display: inline-block;
      line-height: 1;
      padding: 1em 2em;
      text-align: center;
      text-decoration: none;
      -webkit-transition: background-color 0.2s ease, color 0.2s ease;
      transition: background-color 0.2s ease, color 0.2s ease;
      font-size: 1em;

      &:hover,
      &:focus {
        background: $darkBlue;
      }
    }

    @media only screen and (min-width: 576px) {
      padding: 3em;
    }
  }
}
